services:
  jupyter:
    build: .
    container_name: jupyter-gpu
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ${HOME}/notebooks:/workspace
      - ./settings/user-settings:/root/.jupyter/lab/user-settings

    working_dir: /workspace
    ports:
      - "8888:8888"
    command: >
      bash -c "jupyter lab --ip=0.0.0.0 --port=8888 --allow-root --NotebookApp.token='' --NotebookApp.password=''"
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    restart: unless-stopped

